img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
  }
  
  /* Additional styles for header and footer */
  header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
  }

  